# Include core requirements
-r requirements.txt

# Development dependencies
pre-commit==4.2.0
black==25.1.0
isort==6.0.1
mypy==1.17.0
flake8==7.3.0
ansible-doc-extractor==0.1.11

# Documentation
mkdocs==1.6.1
mkdocs-material==9.6.15
