[mysqld]
# Replication configuration
server-id = 1
log-bin = mysql-bin
binlog_format = ROW
binlog_expire_logs_seconds = 604800
max_binlog_size = 100M
sync_binlog = 1

# Enable GTIDs
gtid_mode = ON
enforce_gtid_consistency = ON

# InnoDB settings
innodb_buffer_pool_size = 128M
innodb_flush_log_at_trx_commit = 1

# Set safe AUTO_INCREMENT settings
innodb_autoinc_lock_mode = 2